<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../partials/head'); %>
        <title>Home</title>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    
    <div class="container">
        <%- include('../partials/msg'); %>
        
       
        <div class="card">
            <div class="card-body">
                <h2><%=  post.title %></h2>
                <hr>
                <small>date: <%= post.date %></small>
                <hr>
                <p><%=  post.content %></p>
            </div>
        </div>
    </div>

</body>
<script src="/js/bootstrap.min.js"></script>
</html>